<div class="container">
  <h1>Table</h1>

  <table class="styled-table">
    <thead>
      <th>Posição</th>
      <th>Escudo</th>
      <th>Time</th>
      <th>Pontos</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of table | async">
        <td>{{ item.posicao }}</td>
        <td><img class="escudo" src="{{ item.time.escudo }}" alt="" /></td>
        <td>{{ item.time.nome_popular }}</td>
        <td>{{ item.pontos }}</td>
      </tr>
    </tbody>
  </table>

  <pre>{{ table | async | json }}</pre>
</div>
