body {
  margin: 10px;
}

.escudo {
  max-width: 40px;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #ccc;
}

.styled-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.styled-table {
  background-color: aquamarine;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  text-align: left;
}
